<footer class="footer">
  <ul class="social-list">
    <li>
      <a href="https://www.linkedin.com/in/dylan-j-bird/" 
        class="social-link social-icon">
        <img src="/images/favicons/linkedin.svg">
      </a>
    </li>
    <li>
      <a href="https://github.com/boschbird/" 
        class="social-link social-icon">
        <img src="/images/favicons/github.svg">
      </a>
    </li>
    <li>
      <a href="https://repl.it/@DylanBird/" 
        class="social-link social-icon">
        <img src="/images/favicons/repl-it.svg">
      </a>
    </li>
  </ul>
  <nav>
    <ul class="footer-nav">
      {% include navlinks.html %}
    </ul>
  </nav>
</footer>