
/*----------------------------------------*/
/*ARTICLES*/
/*----------------------------------------*/
article {
	padding: 0.5in 0; /* add some padding above and below (0.5in), but not left and right (0)*/
	display: grid;
	/* create a grid with some absolute width separations*/
	grid-template-columns: 1fr 0.5in [aye] 1.25in 5in 1.25in [bee] 0.5in 1fr;
	background: linear-gradient(grey, white 1in); /*create a gradient effect to delineate between articles*/
}

article * { grid-column: aye / bee; }

/* incorporate a responsive design, dependent on broswer width, N.B. the percentage widths*/
/* this is called a 'media query'*/
@media (max-width: 8.5in) {
	article { grid-template-columns: 1fr 5% [aye] 15% 60% 15% [bee] 5% 1fr; }
	}
/*----------------------------------------*/
/*TEXT*/
/*----------------------------------------*/
/* the not refers to the last inheritor of this property.*/
/* the idea is to not make extra space by adding the margin AND padding at the bottom*/
/*h2, p:not(:last-child) { margin-bottom: 2.4rem; }*/

h2, p { margin-bottom: 2.4rem; }

/* Note that 700 is the default BOLD WEIGHTING of text*/
/* Note 2: REM as in Root EM. While em is relative to the ont size of its direct*/
/* or nearest parent, rem is only relative to the html (root) font-size . */
h1   { font: 700 2.0rem/1.2 "Roboto"; color: hsl(000, 000%, 33%); }
h2   { font: 400 1.5rem/1.2 "Roboto"; color: hsl(000, 000%, 83%); }
time { font: 700 1.0rem/1.2 "Roboto"; color: hsl(250, 100%, 83%); }
h3   { font: 700 1.0rem/1.2 "Roboto"; color: hsl(250, 100%, 67%); }
p    { font: 400 1.0rem/1.5 "Roboto"; color: hsl(000, 000%, 33%); }

a { box-shadow: inset 0 -0.25em hsl(55, 100%, 75%); }

@media (max-width: 8.5in) { :root { font-size: 18px; } }
@media (max-width: 5.0in) { :root { font-size: 16px; } }

/*----------------------------------------*/
/*FIGURES*/
/*----------------------------------------*/
/*classes attributed to to images*/
.size-1 { grid-column: 4 / 5; }
.size-2 { grid-column: 3 / 6; }
.size-3 { grid-column: 2 / 7; }
.size-4 { grid-column: 1 / 8; }

/*Anything with a 'size-1 class' in an 'img' will inherit this property*/
.size-1 img, .size-2 img, .size-3 img, .size-4 img { width: 100%; }

/*This is for horizontally centering the caption*/
figcaption {
    display: flex;
	justify-content: center;    
}